@model List<CourseProjectitr.Models.Inventory>


<h2>Delete selected inventory</h2>

<ul>
@foreach (var inv in Model)
{
    <li>@inv.Title</li>
}
</ul>
<form asp-action="SelectDelete" asp-controller="Inventory" method="post">


    @Html.AntiForgeryToken()
    @foreach (var inv in Model)
    {
        <input type="hidden" name="ids" value="@inv.Id" />

    }
    <button type="submit" class="btn btn-danger">Удалить все</button>
    <a asp-action="Dashboard" class="btn btn-secondary">Отмена</a>
</form>